{% extends 'base.html.twig' %}
    {% block content %}
{#        {{ form(form) }}#}

        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row">
            <div class="col">
                {{ form_label(form.username, null, { 'attr': {'class': 'form-label'} }) }}
                {{ form_widget(form.username, { 'attr': {'class': 'form-input'} }) }}
            </div>
            {% for passwordField in form.plainPassword %}
                <div class="form-field">
                    {{ form_label(passwordField, null, { 'attr': {'class': 'form-label'} }) }}
                    {{ form_widget(passwordField, { 'attr': {'class': 'form-input'} }) }}
                </div>
            {% endfor %}
        </div>
        {{ form_end(form) }}
    {% endblock %}
