<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mangateque
			{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
		<link rel="stylesheet" href="Style/overflow.css">
		<link rel="icon" type="image/png" href="Images/MtLogo.png" />
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	{# coucou toi qui lis ca c'est juste pour pouvoir faire un git add mdr #}
	<body>
		{% block body %}
			<div class="flex bg-gray-500 overflow-auto ">
				<aside class="bg-gray-800 w-44 sm:max-w-10 md:max-w-10 min-h-screen flex flex-col items-center sticky top-0 ">
					<div class="flex flex-wrap mt-8 ">
						<div class="grid grid-cols-1 text-center">
							{% if is_granted('ROLE_ADMIN') %}
								<span class="text-white">
									BONJOUR
									{{ app.user.username }}
								</span>

								<a href="{{ path('admin') }}">
									<button class="text-white px-4 py-2 mb-1 rounded-md border border-blue-500 hover:bg-blue-500 hover:text-white">
										Admin
									</button>
								</a>
								<a href="{{ path('app_logout') }}">
									<button class="text-white px-4 py-2 rounded-md border border-red-600 hover:bg-red-600 hover:text-white">
										Deconnexion
									</button>
								</a>

							{% elseif is_granted('ROLE_USER') %}
								<span class="text-white">
									BONJOUR
									{{ app.user.username }}
								</span>
								<a href="{{ path('app_logout') }}">
									<button class="text-white px-4 py-2 rounded-md border border-red-600 hover:bg-red-600 hover:text-white ">
										Deconnexion
									</button>
								</a>

							{% else %}
								<a href="{{ path('app_login') }}">
									<button class="text-white px-4 py-2 mb-1 rounded-md border border-blue-500 hover:bg-blue-500 hover:text-white">
										Connexion
									</button>
								</a>
								<a href="{{ path('inscription') }}">
									<button class="text-white px-4 py-2 rounded-md border border-blue-500 hover:bg-blue-500 hover:text-white">
										Inscription
									</button>
								</a>
							{% endif %}
						</div>
					</div>
					<div class="mt-10 mb-4">
						<ul>
							<a href="{{ path('home') }}">
								<li class="text-white mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
									<span>
										<svg class="fill-current h-6 w-6 " viewbox="0 0 24 24">
											<path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
										</svg>
									</span>
									<span class="ml-2">
										Acceuil
									</span>
								</li>
							</a>
							<a href="{{ path('categorie') }}">
								<li class="text-white mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
									<span>
										<svg class="fill-current h-6 w-6 " viewbox="0 0 24 24">
											<path d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"></path>
										</svg>
									</span>
									<span class="ml-2">
										Categories
									</span>
								</li>
							</a>
							<a href="{{ path('serie') }}">
								<li class="text-white mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
									<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="fill-current h-6 w-6">
										<path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z"/>
									</svg>
									<span class="ml-2">
										Serie
									</span>
								</li>
							</a>
							<a href="{{ path('editeur') }}">
								<li class="text-white mb-2 px-4 py-4 text-gray-100 flex flex-row  border-gray-300 hover:text-black   hover:bg-gray-300  hover:font-bold rounded rounded-lg">
									<span>
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" class="fill-current h-6 w-6">
											<path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"/>
										</svg>
									</span>
									<span class="ml-2">
										Editeur
									</span>
								</li>
							</a>
						</ul>
					</div>
				</aside>
				{% block content %}{% endblock %}
			</div>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			<script src="js/app.js"></script>
		{% endblock %}
	</body>
</html>
